.project {
  padding-top: 20px;
}

.project > img {
  width: 50%;
}

.project > a {
  background-color: red;
  box-shadow: 0 5px 0 darkred;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.project > a:hover {
  background-color: #ce0606;
}

.project > a:active {
  box-shadow: none;
  top: 5px;
}
